
@{
    ViewBag.Title = "Career";
}

<head>
    <style>
        #blink {
            font-size: 20px;
            font-weight: bold;
            color: #2d38be;
            transition: 0.5s;
        }
        #blink1 {
            font-size: 20px;
            font-weight: bold;
            color: #2d38be;
            transition: 0.5s;
        }
    </style>
</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <h1 align="center">Career:</h1>

    <h2 align="center">Career with us amezing</h2>
    <p><b>We work as a friend, in our place there is no post, we all are enginner, those are working for make life easier for people, we always give prioraty first for life and work as a owner, join us and enjoy your life with proudly.</b></p>


    <h2 align="center">Current Opening and Jobs</h2>
    <div>
        <p id="blink" align="center">Jobs for Fresher:</p>
        <script type="text/javascript">
            var blink = document.getElementById('blink');
            setInterval(function () {
                blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
            }, 200);
            var blink1 = document.getElementById('blink1');
            setInterval(function () {
                blink1.style.opacity = (blink1.style.opacity == 0 ? 1 : 0);
            }, 200);
        </script>
        <p><b>Fresher Graduate: Graduate candidate can send resume us on chhayatech89@gmail.com, our one of team member will contact you soon</b></p>
        <p><b>Fresher Computer trainee: We are hiring fresher Computer trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher Graduate .net Trainee: We are hiring fresher for .net trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher database trainee: We are hiring fresher database trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher aws trainee: We are hiring fresher aws trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher Devops trainee: We are hiring fresher Devops trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher tech writer trainee: We are hiring fresher tech writer trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher computer operator trainee: We are hiring fresher computer operator trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher wesite designer trainee: We are hiring fresher wesite designer trainee, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>Fresher wesite designer trainee: We are hiring fresher wesite designer trainee, send your resume on chhayatech89@gmail.com</b></p>
    </div>
    <div>
        <p id="blink1" align="center">Other Jobs:</p>
        <script type="text/javascript">
            var blink1 = document.getElementById('blink1');
            setInterval(function () {
                blink1.style.opacity = (blink1.style.opacity == 0 ? 1 : 0);
            }, 401);
        </script>
        <p><b>Javascript developer: We are hiring experinced Javascript developer, send your resume on chhayatech89@gmail.com</b></p>
        <p><b>.net Developer: we are hiring experinced .net developer, send resume on chhayatech89@gmail.com</b></p>
        <p><b>Database Developer: we are hiring experinced Database developer, send resume on chhayatech89@gmail.com</b></p>
        <p><b>AWS Developer: we are hiring experinced AWS developer, send resume on chhayatech89@gmail.com</b></p>
    </div>

    <p><b>Register Now</b></p>
</body>