@{
    ViewBag.Title = "Contact Us";
}

<div align="center" style="font-size:20px">
<h2>@ViewBag.Title.</h2>
@*
    <h3>@ViewBag.Message</h3>
*@

<address>
    <b><span>Chhaya Tech Solution</span></b><br />
    Email: chhayatech89@gmail.com<br />
    <abbr title="Phone">Phone and Moblie: 9457985118</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chhayatech89@gmail.com">Chhaya Tech Solution</a><br />
    <strong>Contact:</strong> <a href="mailto:chhayatech89@gmail.com">9457985118</a>
</address>
</div>