
@{
    ViewBag.Title = "EdFund";
}

<h1 align="center"><u>Education</u></h1>
<h2>Education:</h2>
<p>In some areas 1 in 11 children go to work when they should be in school. When it is hard to afford necessities like food, shelter, and clothing; education becomes a luxury that the poor give up. Illiteracy then leads to further poverty. Donate for child education in India, support them with fees, school supplies, footwear, transport and opportunities to showcase their talents.</p>
<h2>Primary Education:</h2>
<p>Millions children in India do not go to school. Millions of children are still denied their right to education because of poverty or lack of education. Donate for the education of poor children and support them with necessities like tuition fees, school supplies, footwear, transport, etc. Help them build a future that will make them escape poverty passed from generation to generation.</p>
<h2>Need:</h2>
<p>Those in need are usually socially excluded and face a lack of basic necessitates for reasons like living in underserved areas or social stigma of being affected with an incurable illness. Donate to those in extreme need and help them with resources like food, medical care, livelihood resources, sanitation, education, etc. to enable them to lead a normal life.</p>


