@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chhaya Tech Solution</h1>
    <p class="lead">Chhaya Tech Solution, We power content, all tech learning, and software solutions for across the globe.</p>
    <p><a href="" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chhaya Tech Coaching and Learning</h2>
        <p>
            Chhaya Tech Solution, We are providing Coaching for all type tech like HTML, CSS, JAVASCRIPT, .NET, ASP.NET, C#, MVC, WEB API, AJAX, JQUERY, LINQ, SQL, SQL SERVER, PL SQL, XML, DTD, XSD, XSLT, XSL, XPATH, XQUERY, XSL-FO, QA, Software Testing, Software Management, Consultant, Agile, Scrum etc.
        </p>
        <p><a class="btn btn-default" href="">Know more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chhaya Tech Manpower Management</h2>
        <p>Chhaya Tech Solution, We are proving Manpower for all type industries across the globe.</p>
        <p><a class="btn btn-default" href="">Know more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chhaya Tech IT Consulant</h2>
        <p>Chhaya Tech Solution, We are providing Consultant services for all IT type industries.</p>
        <p><a class="btn btn-default" href="">Know more &raquo;</a></p>
    </div>
</div>