
@{
    ViewBag.Title = "Flearn";
}

<h2>Learning</h2>
<div>
    <p>
        Join Zoom Meeting
        https://zoom.us/j/98561122062?pwd=eHU2cTZ6S1V1VklwZnRrUnk1S2lkdz09

        <span>Meeting ID: 985 6112 2062</span>
        <span>Passcode: Np1KUs</span>
    </p>
</div>

<!--<div>
    <iframe src="https://zoom.us/wc/93146584214/start" width="1000" height="500"></iframe>
</div>-->

<div>
    <p>
        <a href="https://zoom.us/j/98561122062?pwd=eHU2cTZ6S1V1VklwZnRrUnk1S2lkdz09" target="_blank">Open Meeting</a></p>

    <p><a href="https://zoom.us/" target="_blank">Open Meeting 2 Option</a></p>

</div>